force-app/main/default/flows/Pet_Adoption_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Assign_New_Adopter_Id</name>
        <label>Assign New Adopter Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>adopterID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newAdopterRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Adoption_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Existing_Adopter_ID</name>
        <label>Set Existing Adopter ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>adopterID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Existing_Adopter.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Adoption_Record</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Choice1</name>
        <choiceText>Male</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Choice2</name>
        <choiceText>Female</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Adopter_Exists</name>
        <label>Adopter Exists?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Adopter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Existing_Adopter_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Adopter.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Existing_Adopter_ID</targetReference>
            </connector>
            <label>“Yes – Existing Adopter Found”</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AdoptionDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Pet Adoption Form {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Pet Adoption Form</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Adopter</name>
        <label>Create Adopter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>newAdopterRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Assign_New_Adopter_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>Address__c</field>
            <value>
                <elementReference>AdopterAddress.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Adopter_Email__c</field>
            <value>
                <elementReference>AdopterEmail.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>AdopterGender</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ID_Number__c</field>
            <value>
                <elementReference>AdopterIDNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>AdopterName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Occupation__c</field>
            <value>
                <elementReference>AdopterOccupation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>AdopterPhone.value</elementReference>
            </value>
        </inputAssignments>
        <object>Adopter__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Adoption_Record</name>
        <label>Create Adoption Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Pet_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>Adopter_Email__c</field>
            <value>
                <elementReference>AdopterEmail.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Adopter__c</field>
            <value>
                <elementReference>adopterID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Adoption_Date__c</field>
            <value>
                <elementReference>AdoptionDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Adoption_Status__c</field>
            <value>
                <stringValue>Pending Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pet_Image__c</field>
            <value>
                <elementReference>Get_Pet.Pet_Image__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pet__c</field>
            <value>
                <elementReference>PetId</elementReference>
            </value>
        </inputAssignments>
        <object>Adoption_Record__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_Adopter</name>
        <label>Get Existing Adopter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Adopter_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Adopter_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AdopterEmail.value</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Adopter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pet</name>
        <label>Get Pet</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Adopter_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PetId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pet__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Pet_Status</name>
        <label>Update Pet Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PetId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pending Adoption Approval</stringValue>
            </value>
        </inputAssignments>
        <object>Pet__c</object>
    </recordUpdates>
    <screens>
        <name>Adopter_Info</name>
        <label>Adopter Info</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Existing_Adopter</targetReference>
        </connector>
        <fields>
            <name>AdopterName</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AdopterEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AdopterPhone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AdopterAddress</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Address</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AdopterGender</name>
            <choiceReferences>Choice1</choiceReferences>
            <choiceReferences>Choice2</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Gender</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>AdopterIDNumber</name>
            <dataType>Number</dataType>
            <fieldText>ID Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>AdopterOccupation</name>
            <dataType>String</dataType>
            <fieldText>Occupation</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Pet</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBody_AdoptionConfirmation</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear {!AdopterName},
Thank you for adopting {!Get_Pet.Name}! We&apos;re so happy to see {!Get_Pet.Name} go to a loving home.
Adoption Date: {!$Flow.CurrentDate}
We’ll be in touch with care tips and vaccination reminders.
– The Pet Adoption Team</text>
    </textTemplates>
    <variables>
        <name>adopterID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>newAdopterRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPetRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
